p{
    color: green;
    text-align: center;
    background-color: brown;
    border: 2px solid cyan;
   

}
h2{
    color: blueviolet;
    text-align: right;
    background-color: bisque;
    border: 2px solid chartreuse;

}